
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#content {
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 70%;
  margin: 30px auto 30px auto;
  text-align: center;
}

#form {
  position: relative;
  width: 40%;
  margin: 60px auto 30px auto;
}

#gender-box label {
  padding: 0 10px;
}

#form-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#submit {
  margin-bottom: 100px;
}

.row {
  margin-bottom: 0px !important;
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-footer {
  padding-top: 0px !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

.centerelem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.spacebw {
  justify-content: space-between;
}
p-20-elems input, .p-20-elems label {
  margin: 20px;
}
.brand-logo {
  margin-left: 20px;
}

.jc-c {justify-content: center;}
.ai-c { align-items: center; }
.mx-auto {margin: 0 auto;}
.d-flex { display: flex; }
.f-wrap { flex-wrap: wrap; }
.frow { flex-direction: row; }
.fcol { flex-direction: column; }

.w100 {width: 100%;}
.w96 {width: 96%;}
.w90 {width: 90%;}
.w80 {width: 80%;}
.w70 {width: 70%;}
.w60 {width: 60%;}
.w50 {width: 50%;}
.w46 {width: 46%;}
.w40 {width: 40%;}
.w32 {width: 32%;}
.w30 {width: 30%;}
.w20 {width: 20%;}
.w10 {width: 10%;}

.bd { border: 1px solid #000; }
.bd-t { border-top: 1px solid #000; }
.bd-b { border-bottom: 1px solid #000; }
.bd-r { border-right: 1px solid #000; }
.bd-l { border-left: 1px solid #000; }

.bdr { border-radius : 5px; }

.t-ac {
  text-align: center;
}

.datepicker, .timepicker {
  text-align: center;
}

.pd-0 { padding: 0 !important; }
.pd-10 { padding: 10px !important; }

.pd-0-20 { padding: 0 20px !important; }

.mg-0 { margin: 0 !important; }
.mg-2 { margin: 2% !important; }
.mg-10 { margin: 10px !important; }

.mg-10-0 { margin: 10px 0 !important; }

.space-2 { margin: 0 2% !important; }
.space-10 { margin: 0 10% !important; }

.h-space-2 { margin: 2% 0 !important; }

.c-primary {color: #000000 !important;}

nav ul a {
  color: #000000 !important;
}

.footer-pusher {
  height: 70px;
}

#settings-form {
  width: 60%;
  margin: 30px auto;
}

#taskCreator {
  width: 100%;
  margin: 30px auto;
}

.cardTasks {
}

.cardTasks:hover .listCommunesHoverText {
  visibility: visible;
  opacity: 1;
}

.listCommunesHoverText {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  color: #000;
  border-radius: 6px;
}


/* Compass */

.compass {
	width: 100px;
	height: 100px;
	background-color: #F3F3F3;
	border-radius: 100%;
	background-image: -webkit-linear-gradient(top, #F7F7F7, #ECECEC);
  position: relative;
  margin: 0 auto;
}

.compass-inner {
	width: 90px;
	height: 90px;
	background-color: #3D3D3D;
	border-radius: 100%;
	position: relative;
	left: 5px;
	top: 5px;
	border: 3px solid #C5C5C5;
}

.main-arrow {
	height: 100%;
	width: 8px;
	left: 39px;
	position: relative;
	box-sizing:border-box;
}

.arrow-up {
	width: 0; 
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 41.25px solid #EF5052;
	position: relative;
}

.arrow-down {
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	width: 0; 
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 41.25px solid #F3F3F3;
	position: relative;
}

.north {
	font-size: 10px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 38.75px;
}

.east {
	font-size: 10px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 72.5px;
	top: 37.5px;
}

.west {
	font-size: 10px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 5px;
	top: 37.5px;
}

.south {
	font-size: 10px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 39px;
	top: 70px;
}