<% for(let i = 0; i < tasks.length; i++) { %>
    <div class="card w46 mg-2 cardTasks">
        <div class="card-content">
            <span class="card-title"><%= tasks[i].name %> : <%= tasks[i].bucket.name %></span>
            <p>Exécution : <%= tasks[i].humanTime %></p>
            <span class="listCommunesHoverText">
                <% tasks[i].communes.forEach(commune => { %> 
                    <%= commune.name %>
                <% }) %>
            </span>
        </div>
        <div class="card-action">
            <a href="/tasks/edit/<%= tasks[i].name.replaceAll(" ", "%20") %>">Modifier</a>
            <a href="/tasks/delete/<%= tasks[i].name.replaceAll(" ", "%20") %>">Supprimer</a>
        </div>
    </div>
<% } %>