<form action="/tasks/create" method="POST" class="card-content">
    <h4 class="pd-0 mg-0">Créer une tâche :</h4>
    <div class="d-flex jc-c ai-c frow w100">

        <div class="d-flex jc-c ai-c fcol h-space-2 w50">

            <div class="d-flex jc-c ai-c w100">

                <div class="input-field space-2 w50">
                    <input id="taskname" type="text" name="taskname" required/>
                    <label for="taskname">Nom de la tâche</label>
                </div>

                <div class="input-field w50 mg-0">
                    <select id="select-communes" name="communes" required multiple>
                        <optgroup label="Options">
                            <option value="All" selected>Toutes les communes</option>
                        </optgroup>
                        <optgroup label="Communes :">
                            <% for(let j = 0; j < communes.length; j++) { %>
                                <option value="<%=communes[j].name%>"><%= communes[j].name.replaceAll("_", " ") %></option>
                            <% } %>
                        </optgroup>
                    </select>
                    <label for="communes">Communes</label>
                </div>
            </div>
        
            <div class="d-flex jc-c ai-c w100">
                <h6 class="w20 space-2">Intervalle :</h6>
                <div class="input-field space-2 w30">
                    <input id="numberTime" type="number" max="59" min="1" name="numberTime" required/>
                </div>
                <div class="input-field w40 mg-0">
                    <select id="timeType" name="timeType" required>
                        <option value="second">Seconde(s)</option>
                        <option value="minute" selected>Minute(s)</option>
                        <option value="hour">Heure(s)</option>
                        <option value="day">Jour(s)</option>
                        <option value="month">Mois(s)</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="d-flex jc-c ai-c w30">
            <h6 class="w30 space-2">Bucket :</h6>
            <div class="input-field w50 mg-0">
                <select id="bucket" name="bucket" required>
                    <% settings.database.buckets.forEach(bucket => { %>
                        <option value="<%=bucket.name%>"><%=bucket.name%></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <button class="btn waves-effect waves-light mg-2 w10" type="submit" name="action">Créer
            <i class="material-icons right">add</i>
        </button>
    </div>
</form>