<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    // Initialize Materialize components
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var options = {
            "autoClose": false,
            "format": 'dd mmmm yyyy',
            "parse": null,
            "defaultDate": null,
            "setDefaultDate": false,
            "disableWeekends": false,
            "disableDayFn": null,
            "firstDay": 0,
            "minDate": null,
            "maxDate": null,
            "yearRange": 10,
            "isRTL": false,
            "showMonthAfterYear": false,
            "showDaysInNextAndPreviousMonths": false,
            "container": null,
            "showClearBtn": false,
            "events": [],
            "onSelect": null,
            "onOpen": null,
            "onClose": null,
            "onDraw": null
        }
        var instances = M.Datepicker.init(elems, options);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.timepicker');
        var options = {
            "duration": 350,
            "container": null,
            "showClearBtn": false,
            "defaultTime": 'now',
            "fromNow": 0,
            "autoClose": false,
            "twelveHour": false,
            "vibrate": true,
            "onOpenStart": null,
            "onOpenEnd": null,
            "onCloseStart": null,
            "onCloseEnd": null,
            "onSelect": null
        }
        var instances = M.Timepicker.init(elems, options);
      });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
    
</script>