
<div class="footer-pusher"></div>
<footer class="page-footer orange lighten-1" style="z-index: 1000;">
    <div class="footer-copyright">
        <div class="container c-primary d-flex spacebw">
            <p> © <%= new Date().getFullYear() %> - SSPC - Météo Prévision</p>
            <p>GAYA Group</p>
        </div>
    </div>
</footer>
<%- include('../parts/notifMgr.ejs') %>