<nav>
    <div class="nav-wrapper orange lighten-1">
        <a href="/" class="brand-logo c-primary">Météo Previsions</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/communes"><i class="material-icons left">map</i>Communes</a></li>
            <li><a href="/history"><i class="material-icons left">access_time</i>Historique</a></li>
            <li><a href="/tasks"><i class="material-icons left">alarm</i>Tâches</a></li>
            <li><a href="/settings"><i class="material-icons left">settings</i>Paramètres</a></li>
        </ul>
    </div>
</nav>