<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function retriveCookie(name) {
        var name = name + '=';
        var cookies = decodeURIComponent(document.cookie).split(';');
        for (var i = 0; i<cookies.length; i++) { 
            var c=cookies[i]; 
            while (c.charAt(0)==' ' ) { 
                c=c.substring(1); 
            } 
            if (c.indexOf(name)==0) { 
                return c.substring(name.length+2,c.length);
            } 
        }
    }

    var notif = JSON.parse(retriveCookie('notif'));
    console.log(notif);
    if(notif != null && notif.havenotif) {
        switch(notif.type){
            case 'info':
                M.toast({html: notif.message, classes: "rounded"})
                break;
            case 'error':
                M.toast({html: notif.message, classes: "red"})
                break;
        }
        document.cookie = "notif=null; expires=-1 path=/;";
    }

</script>