<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head') %>
    <title>Météo Prévisions</title>
</head>
<body>
    <%- include('../parts/nav') %>

    <div id="content">
        
        <h4>Cette page est privée et destinée à Vannes Agglomération.</h4>

        <div class="d-flex f-wrap">
            <% for(i=0; i<communes.length; i++) { %> 
                <% let communeName = communes[i].name.replaceAll("_", " ").toLowerCase().replaceAll(/(\b[a-z](?!\s))/g, x => x.toUpperCase()) %>
                <div class="frow w32" style="margin: auto;">
                    <div class="col s12">
                        <div class="card light-blue lighten-1" style="min-width: 100%;">
                            <div class="d-flex frow" >
                                <div class="d-flex fcol jc-c ai-c w20 pd-10" style="box-shadow: 4px 0px 12px -6px;">
                                    <img style="width:75px;top: 0;left: 10px;" src="http://openweathermap.org/img/wn/<%=communes[i].data.weatherIcon%>@2x.png" alt="">
                                    <%= communes[i].data.weather %>
                                    Nuages : <%= communes[i].data.clouds %> %
                                </div>
                                <div class="d-flex fcol jc-c ai-c w80 pd-10">

                                    <span class="card-title"><%= communeName %></span>

                                    <div class="d-flex frow jc-c ai-c w100">

                                        <div class="d-flex fcol jc-c ai-c w30" style="font-size: 12px;margin:auto;">
                                            Température :
                                            <p class="d-flex mg-10-0 jc-c ai-c" style="font-size: 15px;">
                                                <i class="material-icons">keyboard_arrow_up</i>
                                                <%= communes[i].data.temperatureMax %> °C
                                            </p>
                                            <p class="d-flex mg-10-0 jc-c ai-c" style="font-size: 15px;font-weight: bold;">
                                                <i class="material-icons">keyboard_arrow_right</i>
                                                <%= communes[i].data.temperature %> °C
                                            </p>
                                            <p class="d-flex mg-10-0 jc-c ai-c" style="font-size: 15px;">
                                                <i class="material-icons">keyboard_arrow_down</i>
                                                <%= communes[i].data.temperatureMin %> °C
                                            </p>
                                        </div>
    
                                        <div class="d-flex fcol jc-c ai-c w33" style="font-size: 12px;margin:auto;">
                                            <p class="d-flex fcol mg-10-0 jc-c ai-c">
                                                Pression : <br>
                                                <span style="font-weight: bold;"> <%= communes[i].data.pressure %> hPa </span>
                                            </p>
                                            <p class="d-flex fcol mg-10-0 jc-c ai-c">
                                                Humidité :<br>
                                                <span style="font-weight: bold;"><%= communes[i].data.humidity %> %</span>
                                            </p>
                                            <p class="d-flex fcol mg-10-0 jc-c ai-c">
                                                Pluie tombé :<br>
                                                <span style="font-weight: bold;"><%= communes[i].data.rain %> mm</span>
                                            </p>
                                        </div>

                                        <div class="d-flex fcol jc-c ai-c w33" style="font-size: 12px;margin:auto;">
                                            <p class="d-flex mg-10-0 jc-c ai-c">
                                                Vents :<br>
                                            </p>
                                            <div class="compass">
                                                <div class="compass-inner">
                                                    <div class="north">N</div>
                                                    <div class="east">E</div>
                                                    <div class="west">W</div>
                                                    <div class="south">S</div>
                                                    <div class="main-arrow" style="transform: rotate(<%=communes[i].data.windDeg%>deg);">
                                                        <div class="arrow-up"></div>
                                                        <div class="arrow-down"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="d-flex mg-10-0 jc-c ai-c" style="font-weight: bold;">
                                                <%= communes[i].data.windSpeed %> m/s<br>
                                                <%= communes[i].data.windDeg %> °
                                            </p>

                                        </div>
                                        

                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

    </div>

    <script>
        function getValueFromField(data, field) {
            return data.filter(tmp => tmp._field == field)[0]._value;
        }
    </script>

    <%- include('../parts/footer') %>
    <%- include('../parts/bottomPage') %>
</body>
</html>