<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head') %>
    <title>Météo Prévisions</title>
</head>
<body>
    <%- include('../parts/nav') %>

    <div id="content">
        <h3>Cette page est privée et destinée à Vannes Agglomération.</h3>
        <h6>Affiché les prévisions et la météo en temps réel !</h6>

        <div class="w30 mx-auto" style="margin-top: 5%;">
            <form method="post">
                <div class="d-flex frow">
                    <div class="mg-2 t-ac">
                        <label for="datedeb">Date de début</label>
                        <input class="datepicker" type="text" name="datedeb" id="datedeb">
                    </div>
                    <div class="mg-2 t-ac">
                        <label for="heuredeb">Heure de début</label>
                        <input type="text" id="heuredeb" name="heuredeb" class="timepicker">
                    </div>
                </div>
                <div class="d-flex frow">
                    <div class="mg-2 t-ac">
                        <label for="datefin">Date de fin</label>
                        <input class="datepicker" type="text" name="datefin" id="datefin">
                    </div>
                    <div class="mg-2 t-ac">
                        <label for="heurefin">Heure de fin</label>
                        <input type="text" id="heurefin" name="heurefin" class="timepicker">
                    </div>
                </div>
                <div class="d-flex frow">
                    <div class="mg-2 t-ac">
                        <label for="bucket">Bucket</label>
                        <select id="bucket" name="bucket" required>
                            <% settings.database.buckets.forEach(bucket => { %>
                                <option value="<%=bucket.name%>"><%=bucket.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mg-2 t-ac">
                        <label for="communesSelected">Communes</label>
                        <select id="select-communes" name="communes" required multiple>
                            <optgroup label="Options">
                                <option value="All" selected>Toutes les communes</option>
                            </optgroup>
                            <optgroup label="Communes :">
                                <% for(let j = 0; j < communes.length; j++) { %>
                                    <option value="<%=communes[j].name%>"><%= communes[j].name.replaceAll("_", " ") %></option>
                                <% } %>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <input class="waves-effect waves-light btn" type="submit" value="Envoyer">
            </form>
        </div>

    </div>

    <%- include('../parts/footer') %>
    <%- include('../parts/bottomPage') %>
</body>
</html>