<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head') %>
    <title>Météo Prévisions</title>
</head>
<body>
    <%- include('../parts/nav') %>

    <div id="content">
        <h1>Cette page est privée et destinée à Vannes Agglomération.</h1>
        <h3>Affiché les prévisions et la météo en temps réel !</h3>

    </div>

    <%- include('../parts/footer') %>
    <%- include('../parts/bottomPage') %>
</body>
</html>