<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head') %>
    <title>Météo Prévisions</title>
</head>
<body>
    <%- include('../parts/nav') %>

    <div id="content">
        
        <h4>Cette page est privée et destinée à Vannes Agglomération.</h4>

        <form id="settings-form" method="POST">
            <h6>Configuration de l'interface :</h6>
            <div class="d-flex jc-c ai-c">
                <div class="input-field mg-2 w50">
                    <input id="port" type="number" name="port" value="<%= port %>" />
                    <label for="port">Port de l'interface</label>
                    <h7 class="w70" style="font-weight: bold;">Cette option requiert un redémarrage du programme.</h7>
                </div>
                <div class="input-field mg-2 w50">
                    <select id="bucketCommunes" name="bucketCommunes" required>
                        <% database.buckets.forEach(bucket => { %>
                            <option value="<%=bucket.name%>"><%=bucket.name%></option>
                        <% }) %>
                    </select>
                    <label for="bucketCommunes">Bucket Communes</label>
                    <h7 class="w70" style="font-weight: bold;">Bucket où sont enregistrées les données météo de toutes les communes</h7>
                </div>                
            </div>
            
            <h6>Configuration API météo :</h6>
            <div class="input-field mg-2">
                <input id="OWMToken" type="text" name="OWMToken" value="<%= tokens.openweathermap %>" />
                <label for="OWMToken">Token OpenWeatherMap</label>
            </div>
            <div class="input-field mg-2">
                <input id="NetatmoToken" type="text" name="NetatmoToken" value="<%= tokens.netatmo %>" />
                <label for="NetatmoToken">Token Netatmo</label>
            </div>
            <div class="input-field mg-2">
                <input id="NetatmoRefreshToken" type="text" name="NetatmoRefreshToken" value="<%= tokens.netatmoRefresh %>" />
                <label for="NetatmoRefreshToken">Token Netatmo Refresh</label>
            </div>
            
            <h6>Configuration de la base de données :</h6>
            <div class="input-field mg-2">
                <input id="host" type="text" name="host" value="<%= database.host %>" />
                <label for="host">Hôte de la base de données</label>
            </div>
            
            <div class="input-field mg-2">
                <input id="organization" type="text" name="organization" value="<%= database.org %>" />
                <label for="organization">Organisation</label>
            </div>
            
            <% for(let i=0; i < database.buckets.length; i++) { %>

                <div class="d-flex jc-c ai-c">
                    <div class="input-field w20 mg-2">
                        <input id="bucket" type="text" name="bucket-<%=i%>" value="<%= database.buckets[i].name %>" />
                        <label for="bucket">Bucket</label>
                    </div>
                    <div class="input-field w60 mg-2">
                        <input id="bucket" type="text" name="bucket-<%=i%>" value="<%= database.buckets[i].token %>" />
                        <label for="bucket">Token</label>
                    </div>
                    <button class="btn waves-effect waves-light w20" type="button" onclick="removeBucket(this.parentNode)">Supprimer
                        <i class="material-icons right">delete_forever</i>
                    </button>
                </div>

            <% }; %>

            <input type="hidden" id="nbBuckets" name="nbBuckets" value="<%=database.buckets.length%>">

            <button class="btn waves-effect waves-light" type="button" onclick="newBucket()">Nouveau bucket
                <i class="material-icons right">add</i>
            </button>
            
            <button class="btn waves-effect waves-light" type="submit" name="action">Modifier
                <i class="material-icons right">send</i>
            </button>
        </form>
        
        <script>
            function newBucket() {
                let nbBuckets = document.getElementById("settings-form").nbBuckets.value;
                let newBucket = document.createElement("div");
                newBucket.innerHTML = `
                    <div class="d-flex jc-c ai-c">
                        <div class="input-field w20 mg-2">
                            <input id="bucket" type="text" name="bucket-${nbBuckets}" value="" />
                            <label for="bucket">Bucket</label>
                        </div>
                        <div class="input-field w60 mg-2">
                            <input id="bucket" type="text" name="bucket-${nbBuckets}" value="" />
                            <label for="bucket">Token</label>
                        </div>
                        <button class="btn waves-effect waves-light w20" type="button" onclick="removeBucket(this.parentNode)">Supprimer
                            <i class="material-icons right">delete_forever</i>
                        </button>
                    </div>
                `;
                document.getElementById("settings-form").insertBefore(newBucket, document.getElementById("nbBuckets"));
                document.getElementById("settings-form").nbBuckets.value = parseInt(nbBuckets) + 1;
            }

            function removeBucket(parent) {
                let nbBuckets = document.getElementById("settings-form").nbBuckets.value;
                parent.innerHTML = "";
                document.getElementById("settings-form").nbBuckets.value = parseInt(nbBuckets) - 1;
            }
        </script>


    </div>

    <%- include('../parts/footer') %>
    <%- include('../parts/bottomPage') %>
</body>
</html>