<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head') %>
    <title>Météo Prévisions</title>
</head>
<body>
    <%- include('../parts/nav') %>

    <div id="content">
        <h3>Cette page est privée et destinée à Vannes Agglomération.</h3>
        <h6>Affiché les prévisions et la météo en temps réel !</h6>

        <div id="taskCreator" class="card">
            <%- include('../parts/tasks/taskcreator', {communes, settings}) %>
        </div>

        <div id="tasksList" class="d-flex f-wrap">
            <%- include('../parts/tasks/taskslist', tasks) %>
        </div>

    </div>

    <%- include('../parts/footer') %>
    <%- include('../parts/bottomPage') %>
</body>
</html>